################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/PharMS_Steuerung/bin
/PharMS_Steuerung/obj

